body {
    margin: 0;
    font-family: 'Heebo', sans-serif; 
} 

a {
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: underline;
}

/* Header */

header{
    padding: 1em 4em;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav > a {
    padding-left: 33px;
    font-size: 20px;
    font-weight: 500;
}

/* Profile */

.container{
    max-width: 980px;
    margin: 0 auto;
}

.profile-body {
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content:space-between;
}

.profile-info h1{
    font-size: 40px;
    font-weight: 800;
}

.profile-info {
    width: 450px;
    text-align: justify;
    margin-bottom: 60px;
}

.profile-info a{
    background-color: #FF6464;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    border: 0;
    font-size: 15px;
    border-radius: 2px;
    display: inline-block;
}

.profile-img img{
    height: 243px;
    width: 243px;
    box-shadow: -5px 11px 0px #edf7fa;
    border-radius: 50%;
}